<h2 class="text-2xl font-bold text-gray-800 mb-4">Add new Group</h2>
<div class="border-b border-gray-200 mb-6"></div>
<div class="flex justify-center gap-4 mb-6">
  <button (click)="activeTab = 'join'" [class]="getTabClass('join')">
    Join existing group
  </button>
  <button (click)="activeTab = 'create'" [class]="getTabClass('create')">
    Create new group
  </button>
</div>

@if(activeTab === 'join') {
<app-join-group></app-join-group>
} @else if(activeTab === 'create') {
<app-create-group></app-create-group>
}
